<div class="row">
  <div class="col-md-6">
    <!-- student User Accounts Card -->
    <div class="card mb-4">
      <div class="card-header text-center">
        <h5>student User Accounts</h5>
      </div>
      <div class="card-body">
        <div class="list-group">
          {{#each studentUsers}}
          <div class="list-group-item d-flex align-items-center">
            <div class="avatar avatar-md me-3">
              <img class="avatar-img" src="/static/assets/img/avatars/2.jpg" alt="{{this.username}}@email.com">
              <span class="avatar-status bg-success"></span>
            </div>
            <div>
              <h6 class="mb-0">{{this.username}}</h6>
              <small class="text-muted">Registered: {{this.registeredDate}}</small>
            </div>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>